# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [211]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [212]:
# import data set from Ironhack's database
pokemon=pd.read_csv('/home/agustin/Descargas/datasets_121_280_Pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Print first 10 rows of `pokemon`.

In [213]:
# your code here
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [214]:
# your code here

# I am not sure what they are asking. 
# On one hand, I filter de data frame with two columns and then I clean duplicates
# In that case I use only information from data frame

pk_type=pokemon[['Type 1','Type 2']].drop_duplicates().reset_index()
pk_type=pk_type[['Type 1','Type 2']]
pk_type

      Type 1  Type 2
0      Grass  Poison
1       Fire     NaN
2       Fire  Flying
3       Fire  Dragon
4      Water     NaN
..       ...     ...
149    Ghost   Grass
150   Flying  Dragon
151  Psychic   Ghost
152  Psychic    Dark
153     Fire   Water

[154 rows x 2 columns]

In [215]:
# On the other hand, I combine the unique elements of two columns and create an array with 
# all possible combination
l1=list(set(list(pokemon['Type 1'])))
l2=list(set(list(pokemon['Type 2'])))
l=[(x,y) for x in l1 for y in l2]
arr=np.array(l)
arr[0:25]

array([['Rock', 'nan'],
       ['Rock', 'Poison'],
       ['Rock', 'Ground'],
       ['Rock', 'Grass'],
       ['Rock', 'Bug'],
       ['Rock', 'Dragon'],
       ['Rock', 'Electric'],
       ['Rock', 'Normal'],
       ['Rock', 'Fairy'],
       ['Rock', 'Rock'],
       ['Rock', 'Ghost'],
       ['Rock', 'Fire'],
       ['Rock', 'Fighting'],
       ['Rock', 'Water'],
       ['Rock', 'Dark'],
       ['Rock', 'Steel'],
       ['Rock', 'Flying'],
       ['Rock', 'Psychic'],
       ['Rock', 'Ice'],
       ['Water', 'nan'],
       ['Water', 'Poison'],
       ['Water', 'Ground'],
       ['Water', 'Grass'],
       ['Water', 'Bug'],
       ['Water', 'Dragon']], dtype='<U8')

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [216]:
# your code here
def clean_name(x):
    a=x.find('Mega')                  # I search the 'Mega' word in the string and get a position or -1
    if(a !=-1):
        b=x[a:len(x)]                 # I clean the string taking from the position to the end.
    else:
        b=x
    return b

pokemon['Name']=pokemon['Name'].apply(clean_name)

# test transformed data
pokemon.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,Mega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [217]:
# your code here
pokemon['A/D Ratio']=pokemon['Sp. Atk'] / pokemon['Sp. Def']
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1.000000
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1.000000
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,1.016667
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.153846
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,1.307692
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,1.444444

#### Identify the pokemon with the highest `A/D Ratio`.

In [218]:
# your code here
filter_max=pokemon['A/D Ratio']==pokemon['A/D Ratio'].max()
pokemon[filter_max]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [219]:
# your code here
filter_min=pokemon['A/D Ratio']==pokemon['A/D Ratio'].min()
pokemon[filter_min]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [220]:
# Start with the new column with combination of both Type1 & Tipe2
pokemon['Combo Type']=pokemon['Type 1']+ '-' + pokemon['Type 2']

# The Null (NaN) values are going to be replaced by Type2 because there are no Null values in Type1 
filter_null=(pokemon['Type 2'].isnull())
pokemon.loc[filter_null,['Combo Type']]=pokemon['Type 1']

pokemon.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1.000000,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1.000000,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,1.016667,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.200000,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.230769,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.282353,Fire-Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.529412,Fire-Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.382609,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.781250,Water
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,0.812500,Water
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,0.809524,Water
12,9,Mega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,1.173913,Water
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,1.000000,Bug
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,1.000000,Bug
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,1.125000,Bug-Flying
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,1.000000,Bug-Poison
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,1.000000,Bug-Poison
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,0.562500,Bug-Poison
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,0.187500,Bug-Poison

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [221]:
# your code here

pokemon.sort_values(['A/D Ratio'], ascending=[False]).iloc[0:5,1:2]

                     Name
429    DeoxysAttack Forme
347              Carvanha
428    DeoxysNormal Forme
750  AegislashBlade Forme
99                 Gastly

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [222]:
# your code here

top5_combo_type=list(set(pokemon.sort_values(['A/D Ratio'], ascending=[False]).iloc[0:5,14].to_list()))
top5_combo_type

['Ghost-Poison', 'Water-Dark', 'Psychic', 'Steel-Ghost']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [223]:
# your code here

pk_grp=pokemon.groupby(by='Combo Type').mean()     # First create a data frame grouped by Combo Type column with mean of numeric columns

pk_grp_top=pk_grp[pk_grp.index==top5_combo_type[0]] # Create the final data frame with the first row.

for i in range(1,len(top5_combo_type)):             # In this loop I add the rest of the rows.
    a=pk_grp[pk_grp.index==top5_combo_type[i]]
    pk_grp_top=pd.concat([pk_grp_top,a])

pk_grp_top

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Ghost-Poison,93.250000,453.750000,48.750000,53.750000,53.750000,128.750000,65.000000,103.750000,1.000000,0.000000,2.117715
Water-Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,1.823806
Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.431787
Steel-Ghost,680.250000,453.250000,56.000000,97.500000,112.500000,70.000000,71.500000,45.750000,6.000000,0.000000,1.299412